<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <connectionStrings>
    <!--<add name="DB" connectionString="65.111.173.138"/>-->
    <!--<add name="DB" connectionString="50.62.1.71"/>-->
    <add name="DB" connectionString="127.0.0.1"/>
  </connectionStrings>
</configuration>
